.table-switch {
  display: inline-block;
  cursor: pointer;
  height: 25px;
}
.table-switch * {
  pointer-events: none;
}
.table-switch .switch-input {
  display: none;
}
.table-switch .switch-label {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  border-radius: 15px;
  background: #108ee9;
}
.table-switch .switch-label::before, .table-switch .switch-label::after {
  content: " ";
  position: absolute;
  border-radius: 13px;
  transition: all 0.25s;
}
.table-switch .switch-label::before {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 25px;
  background: white;
  border: 1px solid #f0f1f2;
}
.table-switch .switch-label::after {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.table-switch .switch-input[type=checkbox]:checked + .switch-label::before {
  transform: scale3d(0, 0, 0);
}
.table-switch .switch-input[type=checkbox]:checked + .switch-label::after {
  transform: translate3d(20px, 0, 0);
}
